html {
  background-color: #f5f5f5;
  font-family: "Proxima Nova";
  color: #323130;
  -webkit-font-smoothing: antialiased;
}
*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 43px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 15px;
  font-weight: bold;
}

.midsection {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 44px;
}
.fan-speed {
  background: white;
  width: 314px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fan-speed > img {
  display: none;
  width: 110px;
  margin: 20px;
}
.fan-speed > img.visible {
  display: inline-block !important;
}
.current-speed {
  font-size: 15px;
	text-align: center;
  margin-top: 22px;
  margin-bottom: 14px;
}
.speed {
  font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.9px;
	text-align: center;
  color: #0f365f;
}
.thermoostat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 454px;
  color: #ffffff;
  background: linear-gradient(21deg, #2a66a4, #619fe0);
  padding: 45px;
}
.fans {
  font-size: 15px;
  font-weight: bold;
}
.thermoostat > img {
  width: 386px;
  margin: 0 auto;
  image-rendering: crisp-edges;
}
.visit {
  font-size: 28px;
  font-weight: bold;
}
.made-by {
  font-size: 15px;
}

/*.slider-wrapper {
  margin: 0 auto;
}*/
.instructions {
  font-size: 15px;
  margin-bottom: 33px;
}
.slider{
  width: 813px;
  padding: 0;
  position: absolute;
  left: 91px;
}
.slider > div {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  cursor: pointer;
}

#progress-bar{
  -webkit-appearance:none;
  width: 813px;
  color: #000;
  height: 10px;
  margin: 0 auto;
  border: 0.7px solid #d9d9d9
}
.progress-span {
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: white;
  border: 0.7px solid #d9d9d9;
  transition: all 0.4s ease-in-out;
  margin-bottom: 25px;
}
.progress-label {
  text-align: center;
  font-size: 15px;
  color: #323130;
  font-weight: normal;
}
.first {
  left: -16px;
}
.first.border-change {
  background-color: #619fe0;
}
.second{
  left: 50%;
}
.second.border-change {
  background-color: #5390D0;
}
.third{
  left: 72%;
}
.third.border-change {
  background-color: #407DBC;
}
.fourth{
  right: -9px;
}
.fourth.border-change {
  background-color: #2a66a4;
}
#progress-bar::-webkit-progress-value{ /* Changes line color */
  background: linear-gradient(to left, #2a66a4, #619fe0);
  outline: 2px solid white;
  transition: all 0.4s ease-in-out;
  border: 0.7px solid black;
}
#progress-bar::-webkit-progress-bar{ /* Changes background color */
  background: white;
}
#progress-bar.first::-webkit-progress-value{ /* Changes line color */
  background: linear-gradient(to left, #619fe0);
}
#progress-bar.second::-webkit-progress-value{ /* Changes line color */
  background: linear-gradient(to left, #5390D0, #619fe0);
}
#progress-bar.third::-webkit-progress-value{ /* Changes line color */
  background: linear-gradient(to left, #407DBC, #619fe0);
}
#progress-bar.fourth::-webkit-progress-value{ /* Changes line color */
  background: linear-gradient(to left, #2a66a4, #619fe0);
}
.border-change{
  border: 0.7px solid black;
  transition: all 0.4s ease-in-out;
}
.bold {
  font-weight: bold;
}

.voltage-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 9px;
  color: grey;
}
