<!DOCTYPE HTML>
<html>
  <head>
    <title>TherMOOfan</title>

    <script src="{{url_for('static', filename='jquery-3.2.1.js')}}"></script>
    <script src="{{url_for('static', filename='socket.io-2.0.3.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/fonts.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">

  </head>

  <body>

    <header>
      <h1 class="title">Ceiling Fan Control</h1>
      <div class="logo"><img src="{{url_for('static', filename='fm-logo.png')}}" width="140"></div>
    </header>

    <div class="midsection">
      <div class="fan-speed">
        <img id="off" src="{{url_for('static', filename='off.svg')}}" class="visible">
        <img id="low" src="{{url_for('static', filename='low.svg')}}">
        <img id="med" src="{{url_for('static', filename='med.svg')}}">
        <img id="high" src="{{url_for('static', filename='high.svg')}}">
        <div class="current-speed">current speed:</div>
        <div class="speed">OFF</div>
      </div>
      <div class="thermoostat">
        <div class="fans">Fans adjust automatically. Use TherMOOstat to let us know how the room feels to you.</div>
        <img src="{{url_for('static', filename='thermoostat-screenshots.png')}}">
        <div class="visit">Visit TherMOOstat.ucdavis.edu to vote!</div>
        <div class="made-by">Made by the Energy Conservation Office in Facilities Management.</div>
      </div>
    </div>

    <div class="slider-wrapper">
      <div class="instructions">Adjust the slider to override the speed of the classroom fans.</div>
      <div class="slider">
        <progress id="progress-bar" min="1" max="21" value="0"></progress>
        <div class="first"><span class="progress-span first border-change"></span><span class="progress-label bold">Off</span></div>
        <div class="second"><span class="progress-span second"></span><span class="progress-label">Low</span></div>
        <div class="third"><span class="progress-span third"></span><span class="progress-label">Medium</span></div>
        <div class="fourth"><span class="progress-span fourth"></span><span class="progress-label">High</span></div>
      </div>
    </div>

    <div class="voltage-indicator">0V</div>

  </body>

  <script src="{{url_for('static', filename='script.js')}}"></script>

</html>
